#body{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: minmax(200px, auto)
	grid-column-gap:10px;
	grid-row-gap: 10px;
}

#intro{
	grid-column: 1/3
}

#intro-pic{
	grid-column: 3/4
}

#Hobies{
	grid-column: 1/4;
}
#create{
	grid-column: 1/3
	grid-row:4/4;
}

#bo{
	grid-column: 2/3
	grid-row: 4/4;
}
#boat{
	grid-column: 3/4;
	grid-row: 4/4;
}

h1 {
	color: #3d4a55;

  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;

}


h2 {
	color: #3d4a55;

  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;

}

p {
	color: #3d4a55;
	line-height: 17px;

  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}


img {
	height: 200px
}