h1 {
	color: #3d4a55;

  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;

}


h2 {
	color: #3d4a55;

  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;

}

p {
	color: #3d4a55;
	line-height: 17px;

  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}


img {
	height: 200px
}
